name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Predicting the target variable using Machine Learning
      id: predicting-the-target-variable-using-machine-learning
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Predicting the target variable using Machine Learning
        setup-command: ''
        command: "./calculator.sh"
        input: ''
        expected-output: ''
        comparison-method: contains
        timeout: 10
        max-score: 50
    - name: Python Test
      id: python-test
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 50
        setup-command: pip install pytest
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PREDICTING-THE-TARGET-VARIABLE-USING-MACHINE-LEARNING_RESULTS: "${{steps.predicting-the-target-variable-using-machine-learning.outputs.result}}"
        PYTHON-TEST_RESULTS: "${{steps.python-test.outputs.result}}"
      with:
        runners: predicting-the-target-variable-using-machine-learning,python-test
